<div class="details-card">
  <div class="image">
    <img 
      width="256px"
      height="256px"
      [src]="imgSrc"
      alt="img not available on api"/>
  </div>
  <div class="mission-name-flight-number">
    {{details.mission_name}} #{{details.flight_number}}
  </div>
  <div class="detail-label">
    Launch Year:
    <span class="detail-value">{{details.launch_year}}</span>
  </div>
  <div class="detail-label">
    Successful Launch:
    <span class="detail-value">
      {{details.launch_success ? "true" : "false"}}
    </span>
  </div>
  <div class="detail-label">
    Successful Landing:
    <span class="detail-value">
      {{details.land_success ? "true" : "false"}}
    </span>
  </div>
</div>