<div class="row">
    <div class="loader" role="status" *ngIf="isLoading; else content"></div>
    <ng-template #content>
        <ng-container *ngIf="launches.length; else noresult">
            <div class="launch-wrapper" *ngFor="let details of launches">
                <app-launch [details]="details"></app-launch>
            </div>
        </ng-container>
        <ng-template #noresult>
            <div class="no-result">
                <p>No results found</p>
            </div>
        </ng-template>
    </ng-template>
</div>