.filter-header {
  color: #111111;
}

.filter-heading {
  text-align: center !important;
  margin-top: 1rem;
}

.filter-heading-launch-year {
  text-align: center !important;
  margin-top: -1rem;
}

.filters-hr {
  margin: 0.4rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.filter-button-wrapper {
  display: flex;
  justify-content: center;
  flex: 1 0 34%;
  width: 100%;
}
.filter-button {
  cursor: pointer;
}

.btn {
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
}

.btn-success {
  background: rgba(113, 207, 59, 0.5);

  &-active {
    background: rgba(113, 207, 59, 1);
  }
}
